<h1>Turnos</h1>

<p>Turnos generados hasta la fecha.</p>

<p *ngIf="!turnos?.length"><em>Loading...</em></p>

<button (click)="getTurnos('weatherforecast/getWeather')">Mostrar Turnos</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="turnos.length">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Tipo De Peinado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let turno of turnos">
      <td>{{ turno.fecha }}</td>
      <td>{{ turno.nombre }}</td>
      <td>{{ turno.apellido }}</td>
      <td>{{ turno.tipoPeinado }}</td>
    </tr>
  </tbody>
</table>
