<h1>Agendar</h1>

<p>Esta pagina nos permitira agendar turnos.</p>

<form>
  <p>
    Nombre
    <input type="text" maxlength="10" [(ngModel)]="turnoForm.nombre" name="nombre" />
  </p>
  <p>
    Apellido
    <input type="text" maxlength="10" [(ngModel)]="turnoForm.apellido" name="apellido"/>
  </p>
  <p>
    Fecha
    <input type="text" maxlength="10" [(ngModel)]="turnoForm.fecha" name="fecha"/>
  </p>
  <p>
    Tipo de Peinado
    <input type="text" maxlength="10" [(ngModel)]="turnoForm.tipoPeinado" name="tipoPeinado"/>
  </p>
</form>

<button class="btn btn-primary" (click)="mostrarEnConsola()">Guardar Turno</button>
